﻿body {
    margin: 0;
    padding: 0;
}

.maindiv {
    height: 100%;
    display: table;
    margin: 0 auto;
}

.innerdiv {
    vertical-align: middle;
    display: table-cell;
}

@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}
